<!--The content below is only a placeholder and can be replaced.-->
<!--sidenav____________________________________________________________________________-->

<!--sidenav ends here _______________________________________________________________-->
<nav class="navbar navbar-expand navbar-dark blue accent-3 fixed-top scrolling-navbar " id="head-nav">
  <a class="navbar-brand " href="#"><strong ><font color="white" id="logo" >Devops Dashboard Configuration</font></strong></a>
</nav>
<app-confpage></app-confpage>

